/* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */

/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/
.stepwizard-row {
    display: table-row;
}

.stepwizard-row1 {
    display: table-row;
}

.stepwizard-row2 {
    display: table-row;
}

.center-row{
    vertical-align: center !important;
}
.stepwizard {
    display: table;
    width: 1565px;
    position: relative;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color:rgb(209, 209, 209);
}
.stepwizard-row:before {
    top: 2.4em;
    bottom: 0;
    position: absolute;
    content:"  ";
    width: 4000px;
    height: 2px;
    background-color: rgb(50, 66, 114);
    z-index: 0;
}

.botao {
    background-color: #324272;
    color: white;
}

.stepwizard-row1:before {
    top: 2.4em;
    bottom: 0;
    position: absolute;
    content:"  ";
    width: 1940px;
    height: 2px;
    background-color: rgb(50, 66, 114);
    z-index: 0;
}

.stepwizard-row2:before {
    top: 2.4em;
    bottom: 0;
    position: absolute;
    content:"  ";
    width: 2041px;
    height: 2px;
    background-color: rgb(50, 66, 114);
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 5em;
    height: 5em;
    text-align: center;
    padding: 1.7em;
    font-size: 1em;
    line-height: 1.428571429;
    border-radius: 100%;
    color: black;
}

.btn-success {
    color: #fff;
    background-color: rgb(50, 66, 114);
    border-color: rgb(50, 66, 114);
}
.btn-circle:focus,
btn-circle.focus{
    color: white;
    background-color: rgb(50, 66, 114);
    border-color: rgb(50, 66, 114);
}

.btn-success:hover {
    color: #fff;
    background-color: rgb(50, 66, 114);
    border-color: rgb(50, 66, 114);
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: rgb(50, 66, 114);
    border-color: rgb(50, 66, 114);
}
.btn-success.active, .btn-success:active, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: rgb(50, 66, 114);
    border-color: rgb(50, 66, 114);
}

.filtrosContrarios { 
     margin-left: 49px !important; 
}