html, body {
  margin: 0%;  
}

form {
  width: 200px;
  height: 200px;
}

.usuario {
  margin-bottom: 5px;
}

.user {
  font-family: roboto;
  font-size: 14px;
}

.pw {
  margin-bottom: 2.5px;
}

.butao {
  margin-top: 2.5px;
  font-family: roboto;
  font-size: 14px;
}

.centraliza {  
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.centro {
  flex-direction: column;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.t {
  border-style: ridge;
  padding: 10px;
}

.oculto {
  font-family: roboto;
  font-size: 12px;
}

#oculto {
  width: 250;
}

.butao {
  margin-top: 3%;
  background-color: #87CEFA;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}


