#impressas{
    width: 10%;
    padding: .3em;
    height: 15px;
}
#email{
    width: 10%;
    padding: .3em;
    height: 15px;
}
#tabela01{
    width: 95%;
    margin-left: 2em;
	margin-bottom : .5em;
    table-layout: fixed;
}
#documentos{
    width: 15%;
    padding: .5em;
    height: 30px;
}
#orientacoes{
    padding: .5em;
    height: 30px;
}
td:nth-child(2){
    background-color: rgb(255, 229, 153);
    width: 10%;
    padding: .5em;
    height: 15px;
}
.sim{
    background-color:rgb(255, 229, 153);
}
.info{
  background-color:rgb(39,99,196);
  color: #F2FFFC;
}
#info1 {
  width: 300px;
  padding:10px;
	}
#info2{
  width: 100px;
  padding:10px;
}
#info3{
  width: 100px;
  padding:10px;
}
.cor{
color:rgb(0,32,96);
}
#title{
  color:rgb(0,32,96);
}
#ptext{
  font-size:11pt;
  font-family:Calibri,sans-serif;
  margin-right:0;
  margin-left:0;
}
#p2text{
 
  font-size:11pt;
  font-family:Calibri,sans-serif;
  text-align:center;
  margin-right:0;
  margin-left:0;
}
#p3text{
background-color:#FFE599;
width:80.55pt;
height:10.4pt;
padding:0 3.5pt;
border-style:none solid solid none;
border-right-width:1pt;
border-bottom-width:1pt;
border-right-color:gray;
border-bottom-color:gray;

}
#spanText{
  font-size:10pt;
}
#tdStyle{
  width:248.75pt;
  height:10.4pt;
  padding:0 3.5pt;
  border-width:1pt;
  border-style:none solid solid solid;
  border-color:gray;
}
#tdSyle2{
  background-color:#FFE599;
  width:95.2pt;
  height:10.4pt;
  padding:0 3.5pt;
  border-style:none solid solid none;
  border-right-width:1pt;
  border-bottom-width:1pt;
  border-right-color:gray;
  border-bottom-color:gray;
}
#tdStyle3{
  width:619.55pt;
  height:10.4pt;
  padding:0 3.5pt;
  border-style:none solid solid none;
  border-right-width:1pt;
  border-bottom-width:1pt;
  border-right-color:gray;
  border-bottom-color:gray;
}
#trStyle{
height:10.4pt;
}
#tdStyle4{
  width:80.55pt;
  height:10.4pt;
  padding:0 3.5pt;
  border-style:none solid solid none;
  border-right-width:1pt;
  border-bottom-width:1pt;
  border-right-color:gray;
  border-bottom-color:gray;
}